
<Body>
    <div class="corps container-fluid bg-light">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">En cours de traitement</h5>
                  <p class="card-text">70</p>
                  <a href="#" class="btn btn-warning">Voir Liste</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Acceptées</h5>
                  <p class="card-text">35</p>
                  <a href="#" class="btn btn-success">Voir Liste</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row corps1">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Refusées</h5>
                  <p class="card-text">15</p>
                  <a href="#" class="btn btn-danger">Voir Liste</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total des candidatures</h5>
                  <p class="card-text">120</p>
                  <a href="#" class="btn btn-primary">Voir Liste</a>
                </div>
              </div>
            </div>
        </div>
    </div>

</Body>

