header{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header img{
    height:30%;
    width:30px ;
    margin-left: 10px;
}
.CI{
	margin: 0px 20px;
    height: auto;
}
section{
    display: flex;
    border: 3px solid chocolate;
    border-radius: 20px;
    box-shadow: inset;
    border-left: solid 10px #cb6f29;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:auto;
    margin-left: 150px;
    margin-right: 150px;
}
form{
    margin-left: 10px;
    width: 200%;
}
section img{
    margin-bottom: 50px;
}