<header>
    <div class="container-fluid bg-light">
        <nav class="nav navbar-light">
            <div class="logo-container">
                <a class="navbar-brand" routerLink="/">
                    <img src="../assets/image/logo_uvs.png" alt="Logo UVS">
                </a>
            </div>
            <div class="nav-links">
                <a class="nav-link" routerLink="/admin/gestion-annonces" routerLinkActive="active-title">Gérer les annonces</a>
                <a class="nav-link" routerLink="/admin/liste-candidats" routerLinkActive="active-title">Liste des candidats</a>
                <a class="nav-link" routerLink="/admin/gestion-dossiers" routerLinkActive="active-title">Gestion des dossiers</a>
                <a class="nav-link" routerLink="/admin/ajout-annee" routerLinkActive="active-title">Gestion des Années Académiques</a>
            </div>
            <div class="logout-container">
                <button class="btn btn-outline-success deconnexion" type="button">Déconnexion</button>
            </div>
        </nav> 
    </div>
</header>
