<div class="card">
    <header class="card-header" >
        <div>
            <img alt="" src="../assets/image/logo_uvs.png">
        </div>
        <div>
            <button class="btn btn-success me-2" (click)="chooseConnection()">Connexion</button>
            <button class="btn btn-success me-1" (click)="chooseInscription()">inscription</button>
        </div>
    </header>
    <body class="">
        <section>
            <div>
                <h1><marquee>Bienvenue sur la plateforme de Gestion de Recrutement des Tuteurs</marquee></h1>
                <p id="p1">APPEL A CANDIDATURE EN COURS</p>
                <div class="Sec2">
                    <div class="IMG">
                        <img alt="" src="../assets/image/IA.jpg" id="img">
                        <a href="">IA</a>
                    </div>
                    <div class="IMG">
                        <img alt="" src="../assets/image/Reseau.jpg" id="img">
                        <a href="">Réseau</a>
                    </div>
                    <div class="IMG">
                        <img alt="" src="../assets/image/Prog.jpg" id="img">
                        <a href="">Programmation</a>
                    </div>
                </div>
            </div>
            <div>
                <img alt="" src="../assets/image/img1.png" id="img1">
            </div>
        </section>
    </body>
</div>
